body {
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 0;
  margin: 0;
}

/* typography */
a,
li,
span,
p,
label,
button {
  font-family: "Rajdhani", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

a {
  text-decoration: none;
  padding: 0.15rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header,
.main-header,
.navbar-brand {
  font-weight: 700;
  font-family: "Piedra", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

p,
a,
label {
  font-weight: 400;
  font-size: 18px;
}

.main-header {
  color: #ffce38;
  font-size: 4rem;
  text-align: center;
}

h3 {
  color: #ffce38;
  font-size: 2rem;
  text-align: center;
}

h4 {
  color: #fff;
  font-size: 1.5rem;
}

.header {
  color: #ffce38;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
}

header {
  display: flex;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  background: rgba(178, 132, 190, 0.2);
  margin-bottom: 4rem;
}

.search-button {
  padding: 0.5rem;
  background-color: rgba(55, 65, 78, 0.26);
  transition: background-color 0.5s ease;
  border: solid 0.1em #ffce38;
  color: #ffce38;
  font-weight: 700;
  width: fit-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
}

ul {
  list-style-type: none;
  padding: 0;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.hero-content {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
  padding: 2.5rem;
  background: rgba(178, 132, 190, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0.5rem;
  color: #ffffff;
}

/* navigation bar */
.navbar {
  background: transparent;
}

.navbar-brand {
  color: #ffffff;
  transition: color 0.5s ease;
  font-size: 2rem;
}

.navbar-brand:hover {
  color: #00cffa;
}

.nav-item {
  color: #00cffa;
  transition: color 0.5s ease;
}

.nav-item:hover {
  color: #ffce38;
}

figure {
  max-width: 350px;
}

#search-bar {
  width: 600px;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-details {
  display: flex;
  padding: 2rem;
  background: #000000;
  color: #ffffff;
}

.movie-poster {
  flex: 1;
}

.movie-info {
  flex: 2;
}

.movie-title {
  text-align: inherit;
}

#movie:after,
#recommended:after {
  display: block;
  height: 0.15rem;
  content: "";
  background: #ffce38;
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
  transform: rotate(1deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
  margin-top: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background: #000000;
  padding: 1rem;
}

.scences {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.scene {
  max-width: 220px;
}
